.Notes {
  display: flex;
}

.Main {
  min-height: 140vh;
  padding-top: 90px;
}

.BackgroundContainer {
  text-align: center;
  margin-top: 12px;
}

.BackgroundContainerSmallRed {
  max-width: 500px;
}

.TableRed,
.TableRed > tbody > tr > td {
  border: 1px solid #9d0913 !important;
  color: #9d0913;
}

/* Still used */
.ButtonLists {
  background-color: #240000;
  color: #9d0913;
  border: 1px solid #410004;
  font-size: 120%;
}

/* *********************************Light************************************* */

/* .TextTest,
.BodyTest {
  color: #000000 !important;
} */

/* .BorderTest {
  border: 1px solid #000000 !important;
}

.BorderTestBottom {
  border-bottom: 1px solid #000000;
}

.inputLight {
  color: #000000 !important;
  background-color: #ffffff !important;
  border: 1px solid #000000 !important;
} */

/* .BackgroundTest,
.BodyTest {
  background-color: #ffffff !important;
} */

/* For the header and border */
.HeaderThemeTest {
  background-color: #bebebe !important;
  border-bottom: 1px solid #000000;
}

.BackgroundTestContrast {
  background-color: #bebebe !important;
  border-radius: 10px;
  border: 1px solid #000000;
  margin-top: 12px;
}

.BackgroundContainerTest {
  background-color: #bebebe !important;
  border: 1px solid #000000;
  text-align: center;
  margin-top: 12px;
}

.ButtonTest,
.ButtonLinkTest {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000000;
  font-size: 100%;
}

.ButtonTest:hover,
.ButtonTest:active,
.ButtonTest:focus,
.ButtonLinkTest:hover {
  background-color: #bebebe !important;
  color: #000000 !important;
  border: 2px solid #000000 !important;
}

/* BUTTONS */

.ButtonNavBar {
  height: 60px;
  width: 60px;
  border: none;
  font-size: 200%;
}

.NavButtons {
  font-size: 100%;
  padding: 10px 0;
}

/* Small screen */
@media screen and (max-width: 1024px) {
  .Main {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 667px) {
  a,
  h1,
  h2 {
    font-size: 65%;
  }

  .NavButtons {
    font-size: 100%;
    padding: 5px 0;
  }
}

@media screen and (max-width: 500px) {
  a,
  h1,
  h2 {
    font-size: 55%;
  }

  p {
    font-size: 80%;
  }

  .NavButtons {
    font-size: 90%;
    padding: 3px 0;
  }
}
