.Container {
    background-color: #100000;
    color: #9d0913;
    /* min-height: 100vh; */
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.Notes {
    display: flex;
}

.Main {
    min-height: 140vh;
    padding: 70px 0;
    background-color: #100000;
}

.Button, .ButtonLink {
    background-color: #9d0913;
    color: #100000;
    border: 2px solid #9d0913;
    font-size: 100%;
    margin-bottom: 15px;
    padding: 5px;
}

.Button:hover, .Button:active,.Button:focus, .ButtonLink:hover {
    background-color: #100000 !important;
    color: #9d0913 !important;
    border: 2px solid #9d0913 !important;
}