/* Ensures the grid doesn't overflow */
.calendarGrid {
  display: grid;
  grid-template-columns: repeat(
    7,
    1fr
  ); /* 7 equal columns for each day of the week */
  gap: 5px; /* Adjust as needed for spacing */
  width: 100%; /* Ensure the grid is confined to the screen width */
  box-sizing: border-box; /* Makes sure padding doesn't affect total width */
  /* overflow: hidden; */
}

/* Restrict the maximum width for mobile */
.calendarContainer {
  max-width: 50%; /* Ensures no horizontal overflow */
  max-height: 85vh; /* Prevents full screen height; adjust as needed */
  overflow-y: auto; /* Allows scrolling if content is too tall */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  padding: 10px; /* Adds a bit of spacing */
}

/* Styling for calendar days */
/* Styling for calendar days with the full button color */
.calendarDay {
  position: relative;
  padding: 0px 0px;
  border: none;
  border-radius: 0;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  user-select: none;
  width: 100%;
  box-sizing: border-box;
  color: white;
  box-shadow: none;
  min-height: 80px;
  max-height: 80px;
  /* max-width: 120px; testing this */
}

.calendarDayBanner {
  /* background-color: red; */
  position: absolute;
  height: 5px;
  top: 95%;
  width: 100%;
  padding: 0;
}

.calendarDayNumber {
  position: absolute;
  top: 1px; /* Keeps it at the top */
  left: 1px; /* Keeps it fixed to the left */
  margin: 0;
  font-weight: bold; /* Ensure text is bold */
}

/* Apply color to the whole button if it has an entry */
.calendarDay.entryActive {
  background-color: currentColor; /* Use the selected color */
}

.calendarDay.selected {
  background-color: #29b32d71 !important;
  color: white;
}

/* Crossed out style for disabled or booked days */
.crossedOut {
  background-color: #550f0a !important; /* Red background */
  border: 1px solid #0ad81c !important; /* Dark red border */
  color: #007bff !important;
  cursor: not-allowed; /* Change cursor to indicate disabled state */
}

/* Styling for the day headers (Mon, Tue, etc.) */
.dayHeader {
  font-weight: bold;
  text-align: center;
}

/* Ensures empty days are hidden, keeping spacing in the grid */
.emptyDay {
  /* visibility: hidden; */
  background-color: rgba(255, 0, 0, 0.089);
}

/* Mobile-specific styles */
@media (max-width: 1280px) {
  .calendarContainer {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .calendarDay {
    font-size: 8px;
    min-height: 40px;
    max-height: 40px;
    /* max-width: 49px; */
    margin: 0px;
  }
}

/* Tablet-specific styles */
/* @media (min-width: 768px) and (max-width: 1024px) {
  .calendarGrid {
    grid-template-columns: repeat(7, 1fr);
    font-size: 12px;
  }

  .calendarDay {
    padding: 8px;
    font-size: 12px;
  }

  .dayHeader {
    font-size: 14px;
    padding: 5px;
  }
} */

/* .calendarDay {
  font-size: 8px;
  min-height: 40px;
  max-height: 40px;
  max-width: 49px;
  margin: 0px;
} */
