.Header {
    text-align: center;
    background-color: #100000;
    border-bottom: 1px solid #9d0913;
    color: #9d0913;
}

p {
    font-size: 120%;
    padding: 0 10px;
    margin: 0;
}

.Link {
    color: #9d0913;
    font-size: 130%;
    text-decoration: none;
    padding: 0 2%;
}

.Link:hover {
    color: #470307;
    font-size: 130%;
    text-decoration: none;
}

.ServerConnected {
    color: #9d0913;
}

.ServerNotConnected {
    color: #231672;
}