.Header {
    text-align: center;
    background-color: #100000;
    border-bottom: 1px solid #9d0913;
    color: #9d0913;
    padding: 10px 10px;
}

.ThemePurple {
    background-color: #403280;
}

.ThemeRed {
    background-color: #100000;
}

.FixedTop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

p {
    font-size: 120%;
    padding: 0 10px;
    margin: 0;
}

.Link {
    color: #9d0913;
    /* font-size: 115%; */
    text-decoration: none;
    line-height: inherit;
    border-bottom: #9d0913 solid 1px;
}

.Link:hover {
    color: #470307;
    text-decoration: none;
    border-bottom: #470307 solid 1px;
}

.ServerConnected {
    color: #9d0913;
}

.ServerNotConnected {
    color: #231672;
}