.Header {
    text-align: center;
    font-size: 65%;
    /* background-color: #100000; */
    /* border-bottom: 1px solid #9d0913; */
    /* color: #9d0913; */
    /* padding: 10px 10px; */
}

.FixedTop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.Active {
    background-color: #3d0000;
    border: 1px solid #3d0000;
}

.NavBarItem {
    color: #9d0913 !important;
}

.NavbarPopout {
    position: absolute;
    top: 0;
    left: -300px; /* Set an initial value that hides the Navbar */
    width: 300px; /* Set the width of the Navbar */
    height: 100vh; /* Set the height of the Navbar to cover the entire viewport */
    background-color: #fff; /* Set your desired background color */
    z-index: 1040;
    transition: left 0.3s ease; /* Add a transition for a smooth effect */
  }
  
  .NavbarPopout.open {
    left: 0; /* When the Navbar is open, set the left property to 0 */
  }

  .NavbarPopout.back {
    height: 100%;
    width: 100%;
    left: auto;
    z-index: 1020;
    background-color: #31313150 !important;
  }

/* Small screen */
@media screen and (max-width: 413px) {

    .FixedTop {
        position: fixed;
        top: auto;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .TextSmall {
        font-size: 60%;
    }
}

/* .ThemePurple {
    background-color: #403280;
}

.ThemeRed {
    background-color: #100000;
} */



/* p {
    font-size: 120%;
    padding: 0 10px;
    margin: 0;
} */

/* .Link {
    color: #9d0913;
    font-size: 115%;
    text-decoration: none;
    line-height: inherit;
    border-bottom: #9d0913 solid 1px;
}

.Link:hover {
    color: #470307;
    text-decoration: none;
    border-bottom: #470307 solid 1px;
} */

/* .ServerConnected {
    color: #9d0913;
}

.ServerNotConnected {
    color: #231672;
} */

