.Container {
    text-align: center;
    background-color: #410000;
}

.List {
    background-color: #2b0000;
    border: 1px solid #9d0913;
    margin: .5% 0;
    line-height: normal;
}

.ListDetails {
    text-decoration: none;
    color: #9d0913;
}

.ListDetails:hover, .List:hover {
    text-decoration: none;
    background-color: #410000;
}

a {
    text-decoration: none;
    color: #9d0913;
    font-size: 140%;
}

a:hover {
    text-decoration: none;
    color: #470307;
}