.Container {
  text-align: center;
  background-color: #240000;
}

.List {
  background-color: #240000;
  border: 1px solid #410004;
  margin: 0.5% 0;
  line-height: normal;
  padding: 0;
  text-align: left;
}

.listObject {
  margin-bottom: 12px;
  font-size: 100%;
  overflow-wrap: break-word;
  width: 100%;
  display: inline-flex;
}

.List:hover {
  background-color: #410004;
  border: 1px solid #240000;
}

.ListDetails {
  text-decoration: none;
}

.ListDetails:hover,
.List:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  font-size: 140%;
}

a:hover {
  text-decoration: none;
}
