.Container {
    display: block;
    text-align: center;
    background-color: #100000;
    color: #9d0913;
}

.Button {
    background-color: #100000;
    color: #9d0913;
    border: 1px solid;
}

.Row {
    background-color: #100000;
}