.ImageDetail {
    object-fit: cover;
    width: 100%;
    min-height: 120px;
}

.ImageList {
    object-fit: cover;
    width: 100%;
    min-height: 120px;
}

.NoteRed, .NoteTest {
    margin-bottom: 12px;
    font-size: 60%;
    overflow-wrap: break-word;
}

.Private {
    position: absolute;
    right: 15%;
}

.Watched {
    position: absolute;
    right: 13%;
    top: 15%;
}

/* ************************************THEME************************************* */

/* Red */
.NoteDetailsRed {
    border: 1px solid #410004;
    text-align: left;
}

.NoteRed {
    color: #9d0913;
    background-color: #240000;
    border: 1px solid #410004;
    border-radius: 5px;
}

.NoteInputRed {
    background-color: #240000;
    color: #9d0913;
    border: 1px solid #410004;
}

/* Test */
.NoteDetailsTest {
    border: 1px solid #13099d;

}

.NoteTest {
    color: #000000;
    background-color: #e7e7e7;
    border: 1px solid #000000;
    border-radius: 25px;
}

/* Large screens */
@media  screen and (min-width: 768px) {

    .ImageDetail {
        height: 170px;
        width: 50%;
        border-radius: 10%;
    }

    .NoteRed, .NoteTest {
        margin-bottom: 12px;
        font-size: 100%;
        overflow-wrap: break-word;
    }
}

/* Small screens */
@media  screen and (max-width: 413px) {
    .Text, .TextDetail {
        font-size: 60%;
    }
}
