.Image {
    margin-bottom: 10%;
    object-fit: scale-down;
    width: 100%;
    height: 350px;
}

@media  screen and (max-width: 768px) {

    .Image {
        margin-bottom: 10%;
        object-fit: scale-down;
        width: 100%;
        height: 70px;
    }
}